
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Mercantile Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //for-mobile-apps -->
        <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <!-- js -->
        <script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>

        <!-- //js -->
        <link href='//fonts.googleapis.com/css?family=Sanchez:400,400italic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <!-- start-smoth-scrolling -->
        <script type="text/javascript" src="static/js/move-top.js"></script>
        <script type="text/javascript" src="static/js/easing.js"></script>
        <script type="text/javascript">

        </script>
        <style>

        </style> 
        <!-- start-smoth-scrolling -->
    </head>

        <body>
        <!--navigation-->



   <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 18px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
</style>

        <ul>
            <li><a class="navbar-brand" href="index.html">Welcome.....</a></li>


                                 <li style="float:right" class="active"><a href="/UserLogin" data-hover="">User Login</a></li>
                                <li style="float:right"><a href="/Register" data-hover="">User Register</a></li>


</ul>

        <!--navigation-->

        
        <!-- //banner -->
        <!-- steps -->
       <!-- <style>
        body {
  background-image: url("static/images/background.jpg");
  background-repeat: no-repeat;
}
        </style>-->
        <div class="row">
  <div class="column"> <center><br><br><br>
                                    <a class="mask" href="static/images/health.jpg"><img src="static/images/rohan.jpeg" alt=" " style=" top-margin:500px;  width:730px; height:450px;" class="img-responsive" /></a>
                                    </center></div>




</div>





<br><br><br><br><br>


        <!-- //footer -->
        <!-- for bootstrap working -->
        <script src="static/js/bootstrap.js"></script>
        <!-- //for bootstrap working -->
        <!-- here stars scrolling icon -->
        <script type="text/javascript">
        </script>
        <!-- //here ends scrolling icon -->
    </body>
</html>