
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Mercantile Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //for-mobile-apps -->
        <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <!-- js -->
        <script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
        <!-- //js -->
        <link href='//fonts.googleapis.com/css?family=Sanchez:400,400italic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <!-- start-smoth-scrolling -->
        <script type="text/javascript" src="static/js/move-top.js"></script>
        <script type="text/javascript" src="static/js/easing.js"></script>
        <script type="text/javascript">

        </script>
        <!-- start-smoth-scrolling -->
    </head>




    <body>
        <!--navigation-->



   <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 18px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
</style>

        <ul>
            <li><a class="navbar-brand" href="index.html">Welcome.....</a></li>


                                 <li style="float:right" class="active"><a href="/UserLogin" data-hover="">User Login</a></li>
                                <li style="float:right"><a href="/Register" data-hover="">User Register</a></li>


</ul>

        <!--navigation-->
        <!-- banner -->

        <!-- //banner -->
        <!-- steps -->
        <style>
    .column{
    float : left;
    width : 50%;
    }
    .row : after {
    content : "";
    display : table;
    clear : both;
    }


</style>

<div class="row">
    <div class="column">


        <div class="steps">
            <div class="container">
                <a class="mask" href="static/images/user.jpg"><img src="static/images/user.jpg"  alt=" " style="top:10px; width:350px; height:200px; margin-left : 200px;" class="img-responsive" /></a>
                <br>
                                <h2 class="head" style="margin-left : 200px;"><b>User Login </b></h2>

                    <form name="sentMessage"  action="/ulogin" method="POST"  style="margin-left:2px;">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">

                                <table width="750" height="70" border="0" align="center"  cellspacing="50 ">
                                    <tr>
                                        <th>
                                            <label for="ex3" > Name : </label></th>
                                        <th>

                                    <input class="form-control" id="ex3" name="username" type="text"  id="name" title="Username must not be blank and contain only letters and underscores at least 6 characters."  required pattern="[a-zA-Z_]{5,}" ><br>

                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                    <label for="ex3">Password : </label></td>
                                        <td>

                                    <input class="form-control" id="ex3" name="password" id="pass"  type="password"  title="Password must contain at least 6 characters, including UPPER/lowercase and numbers."  required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange="form.pass2.pattern = this.value;" ><br>

                                    </td>
                                    </tr>
                                    <br>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                    <input class="btn btn-info" name="submit" type="submit" value="Submit"> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="btn btn-info" name="Cancel" type="reset" value="Reset">
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>


                </center>
            </div>
        </div>

    </div>
        <br><br><br>
    <div class="column">
         <a class="mask" href="static/images/userlogin.jpg"><img src="static/images/userlogin.jpg"  alt=" " style="top:200px; width:700px; height:400px; margin-left : 2px;" class="img-responsive" /></a>
<br>
    </div>

</div>

        <!-- //steps -->
        <!-- count-down -->
        <align="center">



        <!-- //footer -->
        <!-- for bootstrap working -->
        <script src="static/js/bootstrap.js"></script>
        <!-- //for bootstrap working -->
        <!-- here stars scrolling icon -->
        <script type="text/javascript">

        </script>
        <!-- //here ends scrolling icon -->
    </body>
</html>